h1 {
  font-family: Impact,Charcoal,sans-serif; 
  color: gray; 
  }
  
body {
	background-color: #FDE7E7;
	text-align: center;
	font-size: 14px;
	height: 100%;
}


 /* unvisited link */
a:link {
    color: #403238;
}

/* visited link */
a:visited {
    color: #8e8388;
}

/* mouse over link */
a:hover {
    color: #ae8799;
}

/* selected link */
a:active {
    color: #403238;
} 




#wrap {
      overflow: hidden;
    }
    

.box {
      width: 20%;
      padding-bottom: 20%;
      background:  #f0f5f5;
      color: #FFF;
      position: relative;
      float:left;
      }
      
      
.innards {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      background:  #f2f2f2;
    }

.innards img {
   width: 100%;
}
      
 html, body {
      height: 100%;
    }
    
.thumbI{
  max-height:150px;
  max-width:100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.mainI{
  max-width:100%;
  max-height:70%;
  margin-top: 10px;
  margin-bottom: 10px;
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}




      
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   
   .thumbI{
   max-width:10%;
   }
   
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 5 tiles */
   .box {
      width: 20%;
      padding-bottom: 20%;
   }
}
